.learnbenefits {
    padding: 20px;
}
.learnresources {
    padding: 20px;
}
.music-img {
    width: 300px;
    height: 250px;
}
.publicspeak-img {
    width: 300px;
    height: 250px;
}
.pmanage-img {
    width: 300px;
    height: 250px;
}
.language-img {
    width: 300px;
    height: 250px;
}
.photo-img {
    width: 300px;
    height: 250px;
}