.naturebenefits {
    padding: 20px;
}
.connectresources {
    padding: 20px;
}

.garden-img {
    width: 400px;
    height: 350px;
}
.naturesounds-img {
    width: 400px;
    height: 350px;
}
.outexercise-img {
    width: 400px;
    height: 350px;
}
.nanimal-img {
    width: 400px;
    height: 400px;
}
