<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- Head-->
<head th:replace="fragments::head"></head>
<!--End of Head-->
<body>


<!--  Navbar  -->
<nav th:replace="MemberNavFragment::Member-Nav"></nav>

<!--  End of navbar  -->


<!-- Header-->
<header th:replace="fragments::header">
    <h1 id="contentPageTitle">Extra Materials</h1>
</header>
<!--end of header-->

<!--main div for extra materials page structure, including titles of extra material pages & a link below which redirects to the page-->
<div class="layout-main-div">
<!--    <h2 class="extra-materials-maintitle">Thank you for joining our movement! </h2>-->
    <h3 class="extra-materials-subtitle">Here's a sneak peek at some of our extra resources you can learn about!</h3>

    <h2 id="title2" class="layout-title extra-materials-title">Meditation </h2>
    <div>
        <p id="pageContent1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio eligendi est eveniet, fugiat
            id iure labore laudantium neque nihil officiis optio qui, quia quis recusandae repudiandae sapiente? A,
            tempora? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae consectetur cum debitis
            dicta dolor doloremque eaque facilis id, iusto minima necessitatibus numquam odio quaerat repudiandae, rerum
            sunt tempore vero?
            <br><a href="http://localhost:8080/membersArea/extraMaterials/meditation">Read more..</a>
        </p>
    </div>
    <h2 id="title3" class="layout-title extra-materials-title">Motivation </h2>
    <div>
        <p id="pageContent2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur debitis doloribus earum et,
            expedita impedit, ipsa iste laboriosam magnam nulla perferendis provident rerum unde voluptatem? Architecto
            natus quos similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolore fugit impedit,
            incidunt ipsa iure non. Accusantium, at, dolorem facere id ipsa molestias nihil officia officiis provident
            ratione ullam veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet exercitationem fugit
            laudantium minima nobis, porro quaerat quia quo? Eaque et expedita explicabo illum laboriosam mollitia omnis
            rerum sequi sint, unde!
            <br><a href="http://localhost:8080/membersArea/extraMaterials/motivation">Read more..</a>
        </p>
    </div>
    <h2 id="title4" class="layout-title extra-materials-title">Wellbeing </h2>
    <div>
        <p id="pageContent3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur debitis doloribus earum et,
            expedita impedit, ipsa iste laboriosam magnam nulla perferendis provident rerum unde voluptatem? Architecto
            natus quos similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolore fugit impedit,
            incidunt ipsa iure non. Accusantium, at, dolorem facere id ipsa molestias nihil officia officiis provident
            ratione ullam veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet exercitationem fugit
            laudantium minima nobis, porro quaerat quia quo? Eaque et expedita explicabo illum laboriosam mollitia omnis
            rerum sequi sint, unde!
            <br><a href="http://localhost:8080/membersArea/extraMaterials/wellbeing">Read more..</a>
        </p>
    </div>
    <h2 id="title5" class="layout-title extra-materials-title">Massage </h2>
    <div>
        <p id="pageContent4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur debitis doloribus earum et,
            expedita impedit, ipsa iste laboriosam magnam nulla perferendis provident rerum unde voluptatem? Architecto
            natus quos similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolore fugit impedit,
            incidunt ipsa iure non. Accusantium, at, dolorem facere id ipsa molestias nihil officia officiis provident
            ratione ullam veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet exercitationem fugit
            laudantium minima nobis, porro quaerat quia quo? Eaque et expedita explicabo illum laboriosam mollitia omnis
            rerum sequi sint, unde!
            <br><a href="http://localhost:8080/membersArea/extraMaterials/massage">Read more..</a>
        </p>
    </div>

</div>


<!-- Footer -->
<footer th:replace="fragments::footer"></footer>
<!-- End of footer -->
</body>
</html>