<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- Head-->
<head th:replace="fragments::head"></head>
<!--End of Head-->
<body>


<!--  Navbar  -->
<nav th:replace="fragments::nav"></nav>

<!--  End of navbar  -->


<!--Fitness heading banner-->
<header th:replace="fragments::header">
    <h1 id="contentPageTitle">Fitness</h1>
</header>

<!--Fitness main content-->
<div th:replace="fragments::main-layout">

    <h4 id="quote">"Evidence shows increasing your movement & physical activity can improve your mental
        wellbeing, by raising self-esteem, helping you to set challenges and achieve them. This causes chemical changes
        in your brain which can help to positively change your mood.."</h4>

    <h2 id="title1">How physical activity can help your mental health & wellbeing</h2>
    <p id="pageContent1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <div id="pageImage1">
        <img class="resource-pic-1" src="/static/images/fitnesspic1.jpg" th:src="@{images/fitnesspic1.jpg}"/>
    </div>

    <h2 id="title2">How physical fitness improves mental fitness</h2>
    <p id="pageContent3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
<!--    <img src="https://via.placeholder.com/250" id="pageImage2">-->
    <div id="pageImage2">
        <img class="resource-pic-2" src="/static/images/fitnessjackshore.jpg" th:src="@{images/fitnessjackshore.jpg}"/>
    </div>

    <h2 id="title3">The mental health benefits of physical exercise</h2>
    <p id="pageContent5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>

    <div id="furtherReading">
        <h3 id="furtherReadingTitle1">Want to know more?</h3>
        <h5 id="furtherReadingTitle2">There are plenty of different ways to exercise your body as well as your mind.</h5>
        <div id="furtherLinks">
            <p id="furtherLinksContent"> Below are some resources that we think will help you on your journey:</p>
            <ul>
            <li id="furtherLinksListItem1">
                <a id="furtherLink1" href="https://www.mind.org.uk/information-support/tips-for-everyday-living/physical-activity-and-your-mental-health/about-physical-activity/">Mind&reg- Physical Activity & Your Mental Health</a>
            </li>
                <li id="furtherLinksListItem2">
                    <a id="furtherLink2" href="https://www.mentalhealth.org.uk/publications/how-to-using-exercise">Mental Health Foundation&reg- How To Look After Your Mental Health Using Exercise</a>
                </li>
                <li id="furtherLinksListItem3">
                    <a id="furtherLink3" href="https://www.therapyforyou.co.uk/post/exercise-and-mental-health">Therapy for you&reg- Healthy Body, Healthy Mind: How Exercise Builds Up Our Mental Health</a>
                </li>
            </ul>
        </div>
        <h5 id="internalLink">At tidybutt we are all about getting involved and practicing what we preach.<br>
            <a href="http://localhost:8080/meetups">Click Here</a> to see when our next group activity is!<br><br> Or if you want to view our other resources, click the links below!</h5>
        <h5><a class="btn btn-primary btn-block" href="http://localhost:8080/nature">Nature</a><a class="btn btn-primary btn-block" href="http://localhost:8080/nutrition">Nutrition</a><a class="btn btn-primary btn-block" href="http://localhost:8080/sleep">Sleep</a></h5>
    </div>
</div>

<!--End of fitness main content-->

<!-- Footer -->
<footer th:replace="fragments::footer"></footer>
<!-- End of footer -->

<!--End of fitness main content-->

</body>
</html>
