<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- Head-->
<head th:replace="fragments::head"></head>
<!--End of Head-->
<body>


<!--  Navbar  -->
<nav th:replace="MemberNavFragment::Member-Nav"></nav>

<!--  End of navbar  -->


<!--massage heading banner-->
<header th:replace="fragments::header">
    <h1 id="contentPageTitle">Massage</h1>
</header>

<!--massage main content-->
<div th:replace="fragments::main-layout">

    <h4 id="quote">"Massage therapy has been shown to relieve depression, especially in people who have chronic fatigue syndrome; other studies also suggest benefit for other populations." <br> — Andrew Weil</h4>

    <h2 id="title1">Is a Massage actually any good for my mental health?</h2>
    <p id="pageContent1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <div id="pageImage1">
        <img class="resource-pic-1" src="/static/images/massagepic1.webp" th:src="@{/images/massagepic1.webp}"/>
    </div>

    <h2 id="title2">How a simple Massage can make you forget about your problems</h2>
    <p id="pageContent3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <div id="pageImage2">
        <img class="resource-pic-2" src="/static/images/massagepic2.jpg" th:src="@{/images/massagepic2.jpg}"/>
    </div>

    <h2 id="title3"> The mental health benefits of Massage</h2>
    <p id="pageContent5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>

    <div id="furtherReading">
        <h3 id="furtherReadingTitle1">Want to know more?</h3>
        <h5 id="furtherReadingTitle2">Check out some other resources about how effective massages can help keep your mental health under control.</h5>
        <div id="furtherLinks">
            <p id="furtherLinksContent"> Below are some resources that we think will help you on your journey:</p>
            <ul>
                <li id="furtherLinksListItem1">
                    <a id="furtherLink1"
                       href="https://blog.nuhs.edu/the-future-of-integrative-health/4-mental-benefits-of-massage-therapy">National University of Health Sciences&reg
                        - 4 Mental Benefits of Massage Therapy</a>
                </li>
                <li id="furtherLinksListItem2">
                    <a id="furtherLink2" href="https://www.amtamassage.org/resources/massage-and-health/mental-health/">American Massage Therapy Association &reg
                        - Massage Therapy for Mental Health</a>
                </li>
                <li id="furtherLinksListItem3">
                    <a id="furtherLink3" href="https://www.mentalhealthcenter.org/massage-therapy-for-mental-wellness/">Mental Health Center&reg
                        - Massage Therapy for Mental Wellness</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--End of massage main content-->

<!-- Footer -->
<footer th:replace="fragments::footer"></footer>
<!-- End of footer -->

<!--End of massage main content-->

</body>
</html>
