<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- Head-->
<head th:replace="fragments::head"></head>
<!--End of Head-->
<body>


<!--  Navbar  -->
<nav th:replace="MemberNavFragment::Member-Nav"></nav>

<!--  End of navbar  -->


<!--Meditation heading banner-->
<header th:replace="fragments::header">
    <h1 id="contentPageTitle">Meditation</h1>
</header>

<!--Meditation main content-->
<div th:replace="fragments::main-layout">

    <h4 id="quote">"Your goal is not to battle with the mind, but to witness the mind." <br>  — Swami Muktananda</h4>

    <h2 id="title1">How meditation can improve your mental health</h2>
    <p id="pageContent1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <div id="pageImage1">
        <img class="resource-pic-1" src="/static/images/meditationpic1.jpg" th:src="@{/images/meditationpic1.jpg}"/>
    </div>

    <h2 id="title2">How meditation can be a simple, peaceful way to reduce stress and manage anxiety</h2>
    <p id="pageContent3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <div id="pageImage2">
        <img class="resource-pic-2 fix-stretch" src="/static/images/meditationpic2.jpg" th:src="@{/images/meditationpic2.jpg}"/>
    </div>

    <h2 id="title3">Our guide to Meditation</h2>
    <p id="pageContent5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>

    <div id="furtherReading">
        <h3 id="furtherReadingTitle1">Want to know more?</h3>
        <h5 id="furtherReadingTitle2">Check out some other resources about how meditation can keep your mind at
            peace.</h5>
        <div id="furtherLinks">
            <p id="furtherLinksContent"> Below are some resources that we think will help you on your journey:</p>
            <ul>
                <li id="furtherLinksListItem1">
                    <a id="furtherLink1"
                       href="https://www.mayoclinic.org/tests-procedures/meditation/in-depth/meditation/art-20045858">Mayo Clinic&reg
                        - Meditation: A simple, fast way to reduce stress</a>
                </li>
                <li id="furtherLinksListItem2">
                    <a id="furtherLink2" href="https://www.headspace.com/meditation/benefits">headspace&reg
                        - The Many Benefits Of Medication</a>
                </li>
                <li id="furtherLinksListItem3">
                    <a id="furtherLink3" href="https://www.psychologytoday.com/gb/blog/balanced/201907/meditation-and-mental-health">Psychology Today&reg
                        - Meditation and Mental Health</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--End of meditation main content-->

<!-- Footer -->
<footer th:replace="fragments::footer"></footer>
<!-- End of footer -->

<!--End of meditation main content-->

</body>
</html>
