<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- Head-->
<head th:replace="fragments::head"></head>
<!--End of Head-->
<body>


<!--  Navbar  -->
<nav th:replace="MemberNavFragment::Member-Nav"></nav>

<!--  End of navbar  -->


<!--motivation heading banner-->
<header th:replace="fragments::header">
    <h1 id="contentPageTitle">Motivation</h1>
</header>

<!--motivation main content-->
<div th:replace="fragments::main-layout">

    <h4 id="quote">"Success is not final; failure is not fatal: It is the courage to continue that counts."<br> — Winston S. Churchill<br></h4>

    <h2 id="title1">How motivation helps keep your mental health in order</h2>
    <p id="pageContent1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <div id="pageImage1">
        <img class="resource-pic-1" src="/static/images/motivationpic1.jpg" th:src="@{/images/motivationpic1.jpg}"/>
    </div>

    <h2 id="title2">What can I do to stay motivated, when I'm feeling down?</h2>
    <p id="pageContent3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <div id="pageImage2">
        <img class="resource-pic-2 fix-stretch"  src="/static/images/motivationpic2.png" th:src="@{/images/motivationpic2.png}"/>
    </div>

    <h2 id="title3">Our top tips on keeping motivated during tough times</h2>
    <p id="pageContent5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>

    <div id="furtherReading">
        <h3 id="furtherReadingTitle1">Want to know more?</h3>
        <h5 id="furtherReadingTitle2">Check out some other resources about how staying motivated is key in keeping your mind healthy.</h5>
        <div id="furtherLinks">
            <p id="furtherLinksContent"> Below are some resources that we think will help you on your journey:</p>
            <ul>
                <li id="furtherLinksListItem1">
                    <a id="furtherLink1"
                       href="https://www.psycom.net/self-care-101/intrinsic-motivation-4-steps-healthier-behavior">PSYCOM&reg
                        - Intrinsic Motivation: 4 Steps to Healthier Behaviour</a>
                </li>
                <li id="furtherLinksListItem2">
                    <a id="furtherLink2" href="https://www.mytherapist.com/advice/general/how-having-no-motivation-to-do-anything-affects-your-mental-health/">MyTherapist&reg
                        - How Having No Motivation Affects Your Mental Health</a>
                </li>
                <li id="furtherLinksListItem3">
                    <a id="furtherLink3" href="https://www.verywellmind.com/what-to-do-when-you-have-no-motivation-4796954">Very Well Mind&reg
                        - What To Do When You Have No Motivation</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--End of motivation main content-->

<!-- Footer -->
<footer th:replace="fragments::footer"></footer>
<!-- End of footer -->

<!--End of motivation main content-->

</body>
</html>
