<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<!-- Head-->
<head th:replace="fragments::head"></head>
<!--End of Head-->
<body>

<!--  Navbar  -->
<nav th:replace="fragments::nav"></nav>

<!--  End of navbar  -->

<!--Contact heading banner-->
<header th:replace="fragments::header">
    <h1 id="contentPageTitle">Contact</h1>
</header>
    <div class="col text-center mb-3 p-5">

<!--        POST method chosen because it is more secure than GET method. -->


        <form id ="contactForm" name="userForm" th:action="@{/postContactFormHTMLReturn/}" onsubmit="return validateForm()" method="POST" >
            <label>FirstName: <input id="firstname" type="text" name="firstName" autocomplete="off" required></label><br>
            <label>LastName: <input id="lastname" type="text" name="lastName" autocomplete="off" required></label><br>
            <label>Email: <input id="email" type="email" name="email" autocomplete="off" required></label><br>
            <label>Message: <input id="message" type="text" name="message" autocomplete="off" required></label><br>
            Description: (Message length must be between 5 - 40 characters.)<br>
            <br>
            <button class="btn btn-primary btn-inline block" type="submit">Submit form</button>
            <button class="btn btn-primary btn-inline block" type="reset">Clear form</button>
        </form>
    </div>


<script type="text/javascript" th:src="@{js/contact.js}"></script>

<footer th:replace="fragments::footer"></footer>

</body>
</html>