<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- Head-->
<head th:replace="fragments::head"></head>
<!--End of Head-->
<body>


<!--  Navbar  -->
<nav th:replace="MemberNavFragment::Member-Nav"></nav>

<!--  End of navbar  -->


<!--wellbeing heading banner-->
<header th:replace="fragments::header">
    <h1 id="contentPageTitle">Well-being</h1>
</header>

<!--wellbeing main content-->
<div th:replace="fragments::main-layout">

    <h4 id="quote">"Wellness is the compete integration of body, mind, and spirit - the realization that everything we do, think, feel, and believe has an effect on our state of well-being." <br> — Greg Anderson</h4>

    <h2 id="title1">The relationship between well-being and your mental health</h2>
    <p id="pageContent1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <div id="pageImage1">
        <img class="resource-pic-1" src="/static/images/wellbeingpic1.jpg" th:src="@{/images/wellbeingpic1.jpg}"/>
    </div>

    <h2 id="title2">What is the difference between mental health and well-being?</h2>
    <p id="pageContent3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <div id="pageImage2">
        <img class="resource-pic-2 fix-stretch" src="/static/images/wellbeingpic2.jpg" th:src="@{/images/wellbeingpic2.jpg}"/>
    </div>

    <h2 id="title3">Our tips to elevating your mental well-being</h2>
    <p id="pageContent5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>
    <p id="pageContent8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum dolore dolorem
        eveniet
        exercitationem fuga itaque laudantium magnam molestiae nulla officiis quae ratione, reprehenderit rerum
        totam unde ut vel velit.</p>

    <div id="furtherReading">
        <h3 id="furtherReadingTitle1">Want to know more?</h3>
        <h5 id="furtherReadingTitle2">Check out some other resources about how managing your well-being is vital in improving your mental health.</h5>
        <div id="furtherLinks">
            <p id="furtherLinksContent"> Below are some resources that we think will help you on your journey:</p>
            <ul>
                <li id="furtherLinksListItem1">
                    <a id="furtherLink1"
                       href="https://www.mind.org.uk/information-support/tips-for-everyday-living/wellbeing/wellbeing/">Mind&reg-
                        How to improve your mental well-being</a>
                </li>
                <li id="furtherLinksListItem2">
                    <a id="furtherLink2" href="https://www.nhs.uk/mental-health/self-help/guides-tools-and-activities/five-steps-to-mental-wellbeing/">
                        NHS&reg- 5 Steps to mental well-being</a>
                </li>
                <li id="furtherLinksListItem3">
                    <a id="furtherLink3" href="https://www.gov.uk/government/publications/wellbeing-in-mental-health-applying-all-our-health/wellbeing-in-mental-health-applying-all-our-health">UK Government
                        &reg- Well-being and mental health: Applying all our health</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--End of wellbeing main content-->

<!-- Footer -->
<footer th:replace="fragments::footer"></footer>
<!-- End of footer -->

<!--End of wellbeing main content-->

</body>
</html>
